.Header {
    display: flex;
    align-items: center;
    background-color: black;
    color: rgb(131, 243, 159);
    padding: 1.5vh;
    font-weight: 600;
}

.logo {
    height: 13vh;
    width: 20vh;
}

.vl {
    border-left: 1.75px solid rgb(129, 233, 155);
    height: 27px;
    margin-left: 2vh;
}

.add {
    margin-left: 6vh;
    width: 4.25vh;
    height: 4.25vh;
}

.add:hover {
    background-color: rgb(39, 39, 39);
    border: 1px white;
}

.caption {
    color: white;
}